body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-custom {
  background-color: #32be8f;
  color: black
}

.navbar-text {
  color: white;
}

.ParticipantsColumn {
  background-color: #292b2c;
  height: 300%;
}
.InteractionEvents {
  background-color: red;
  height: 300%;
}

.ParticipantsColumnHeader{
  background-color: #279772;
}

.InteractionEventsHeaderTitle{
  text-align: center;
  background-color: #279772
}

.Ask-Question{

}

.textColor{
  color: white;
}
Link.selected {
  color:white;
}