body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-custom {
  background-color: #363636;
  color: white
}

.navbar-text {
  color: white;
}

.ParticipantsColumn {
  background-color:#363636
}
.InteractionEvents {
  background-color: white;
}

#root{
  height: 100%;
}

html{
  height: 100%;
  
}
head{
  height: 100%;
}

.app{
  height: 100%;
}
body{
  height:100%
}

.textColor{
  color: white;
}
.ParticipantsColumnHeader{
  background-color: #279772;
  
}
.LinkIe{
  color:white;
  font-weight: bold;
}
