body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-custom {
  background-color: #363636;
  color: white
}

.navbar-text {
  color: white;
}

.ParticipantsColumn {
  background-color: #292b2c;
  height: 300%;
}
.InteractionEvents {
  background-color: white;
  height: 300%;
}

.ParticipantsColumnHeader{
  background-color: #279772;
}


.textColor{
  color: white;
}

.LinkIe{
  color:white;
  font-weight: bold;
}
.container-navbar{


}
